{% extends 'base_generic.html' %}

{% block filter %}
    <div style="margin: 3px 0 5px 15px; display: flex; flex-direction: column;">
        <a href="/catalog/pc" style="width: 120px">Только Пк</a>
        <a href="/catalog/laptop" style="width: 120px">Только Ноутбуки</a>
    </div>
{% endblock %}

{% block content %}

    <div style="display: flex">
        <form style="margin-right: 50px" action="{% url 'search_product' %}" method="GET">
            <input type="text" name="query" placeholder="Введите название товара">
            <button type="submit">Найти</button>
        </form>
        <form method="GET" action="{% url 'product_segmentation' %}">
            <input type="text" name="min_price" placeholder="Минимальная цена">
            <input type="text" name="max_price" placeholder="Максимальная цена">
            <button type="submit">Найти</button>
        </form>
    </div>

    <h3>Список товаров</h3>
    <ul style="display: flex; flex-wrap: wrap;">
        {% if products %}
            {% for product in products %}
                <div style="margin-bottom: 40px; margin-right: 40px; flex-basis: calc(100% / 4); max-width: calc(100% / 3);">
                    <img src="{{ product.image.url }}" style="width: 150px; height: 150px">
                    <li style="max-width: 150px;">{{ product.name }}</li>
                    <li style="max-width: 150px;">Количество просмотров:{{ product.view_count }}</li>
                    <li style="max-width: 150px;">Количество заказов:{{ product.order_count }}</li>
                    <li>{{ product.price }} руб</li>
                    <a href="{% url 'product_detail' product_id=product.id %}">Подробности</a>
                </div>
            {% endfor %}
        {% else %}
            <p>На данный момент такого товара нет </p>
        {% endif %}
    </ul>
{% endblock %}